<div class="panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <br />
    <br />
    <div class="panel-body">
        <button (click)="toggleLights()">Toggle Light</button>
        <button (click)="toggleHeights()">Toggle Heights</button>
        <div [@lightsOnOff]="roomState" style="height: 400px;width: 400px;background: red;">
        </div>
        <div [@heightTrigger]="heightState" style="width: 400px;background: green;">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>